* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family:  'Black Ops One', cursive; }

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  background-color: #aeaeae;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .item:hover {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    cursor: pointer; }
  .item span {
    font-size: 3rem;
    text-shadow: 2px 2px 10px black; }

.item-1 {
  background: url(../img/1.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.item-2 {
  background: url(../img/2.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.item-3 {
  background: url(../img/3.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

.item-4 {
  background: url(../img/4.jpg) no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover; }

@media (max-width: 640px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .item {
    width: 100%;
    height: 25vh; }
    .item:hover {
      height: 75vh; } }
