*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    color: #fff
    font-family:  'Black Ops One', cursive


.slider
    display: flex
    justify-content: center
    align-items: center

.item
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    flex-basis: 25%
    background-color: #aeaeae
    transition: all 0.5s
    &:hover
        flex-basis: 100%
        cursor: pointer
    span
        font-size: 3rem
        text-shadow: 2px 2px 10px black


.item-1
    background: url(../img/1.jpg) no-repeat center center
    background-size: cover
.item-2
    background: url(../img/2.jpg) no-repeat center center
    background-size: cover
.item-3
    background: url(../img/3.jpg) no-repeat center center
    background-size: cover
.item-4
    background: url(../img/4.jpg) no-repeat center center
    background-size: cover

@media (max-width: 640px)
    .slider
        flex-direction: column 
    .item
        width: 100%
        height: 25vh
        &:hover
            height: 75vh